* {
  margin: 0;
  padding: 0;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.box p {
  padding: 10px;
  background: red;
  cursor: pointer;
}
.box p:hover + p {
  background: blue;
}
.box p:hover p {
  background: blue;
}